{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<body>
<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="header-text caption">
                <h2>Anagrams</h2>
                <div id="search-section">
                  
                    <!--<form id="suggestion_form" name="gs" method="get" action="#">-->
                      <form method="post" enctype='multipart/form-data'>{% csrf_token %}
                        {{ form.non_field_errors }}
                  <div class="searchText">
                    
                    <input type="text" name="anagrams_letters" id="anagrams_letters" class="searchText" placeholder="Enter your letters here..." autocomplete="off">
                    <!--<ul>
                      <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yr)</em></span></label></li>
                    </ul>-->
                  </div>
                      <input type="submit" name="submit" class="main-button" value="Search Now">
                   </form>
                 <div class="advSearch_chkbox">
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->

      <!-- Trusted Starts Here -->
      <div class="trusted-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-section-heading">
                <a href="#"><h4>ANAGRAMS</h4></a>
              </div>
            </div>
            <div class="col-md-12">
              Anagrams (also published under names including Anagram, Snatch and Word Making and Taking) is a tile-based word game that involves rearranging letter tiles to form words. The game pieces are a set of tiles with letters on one side. Tiles are shuffled face-down then turned over one by one, players forming words by combining them with existing words, their own or others'. The game has never been standardized and there are many varieties of sets and rules. Anagrams is often played with tiles from another word game, such as Scrabble or Bananagrams.
            </div>
          </div>
        </div>
      </div>
      <!-- Trusted Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>Anagrams</span>
                <h2>Results
                {% if anagrams_letters %}
                 for '{{ anagrams_letters }}'
                {% endif %}</h2>
                {% if anagrams_results %}
                {% for word in anagrams_results %}
                <p>{{ word }}</p>
                {% endfor %}
                {% else %}
                {{ anagrams_no_solutions }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
      



{% endblock %}