<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="WordDoctor Team">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>WordDoctor</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-host-cloud.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--

Host Cloud Template

https://templatemo.com/tm-541-host-cloud

-->
  <style>
    .errorlist {
      color: #D63301;
			background-color: #FFCCBA;
    }
  </style>
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}"><h2>Word<em>Doctor</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home
                  <!--<span class="sr-only">(current)</span>-->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'wordle' %}">Wordle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'scrabble' %}">Scrabble</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'anagrams' %}">Anagrams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'boggle' %}">Boggle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'wordscape' %}">WordScapes</a>
              </li>
            </ul>
          </div>
          <!--<div class="functional-buttons">
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </div>-->
        </div>
      </nav>
    </header>

    {% block content %}
    {% endblock %}


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>WordDoctor</h2>
              </div>
              <!-- <p>Lorem Ipsum ...</p> -->
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Solvers</h2>
              </div>
              <ul class="footer-list">
                <li><a href="{% url 'wordle' %}">Wordle</a></li>
                <li><a href="{% url 'scrabble' %}">Scrabble</a></li>
                <li><a href="{% url 'anagrams' %}">Anagrams</a></li>
                <li><a href="{% url 'boggle' %}">Boggle</a></li>
                <li><a href="{% url 'wordscape' %}">WordScapes</a></li>
              </ul>
            </div>
          </div>
          
          
          <!-- <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Useful Links</h2>
              </div>
              <ul class="footer-list">
                <li><a href="#">Cloud Hosting Platform</a></li>
                <li><a href="#">Light Speed Zone</a></li>
                <li><a href="#">Content Delivery Network</a></li>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Latest News</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <li>Phone: <a href="#">010-020-0560</a></li>
                <li>Email: <a href="#">mail@company.com</a></li>
                <li>Support: <a href="#">support@company.com</a></li>
                <li>Website: <a href="#">www.company.com</a></li>
              </ul>
            </div>
          </div> -->
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2022 WordDoctor</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>