{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
      div.game {
        display: grid;
        width: 50vw;
        height: 50vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 120px;
        height: 120px
      }

      .game-cell {
        width: 60px;
        height: 60px;
        border: 1px solid ;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .left-half{
        width: 100%;
        height: 30vh;
        /*border: 1px solid red;*/
        /*display: flex;*/
        align-items: center;
        justify-content: center;
      }

    </style>
    <script>
      function highlight(word_id, box_id, num_words, boxes) {
        // for loop going through all the letters in the path
        for (let i = 0; i < num_words; i++)
        {
          document.getElementById("word"+i).style.color = 'grey';
        }
        document.getElementById("word"+word_id).style.color = 'red';


        for (let i = 1; i < 17; i++)
        {
          document.getElementById("letter"+i).style.color = 'black';
        }

        box_obj = JSON.parse(boxes)

        for (let i = 0; i < box_obj.length; i++)
        {
          document.getElementById("letter"+box_obj[i]).style.color = 'red';
        }
        
      }
    </script>
</head>

<body>
<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="header-text caption">
                <h2>Boggle</h2>
                <div id="search-section">
                    <!--<form id="suggestion_form" name="gs" method="get" action="#">-->
                      <form method="post" enctype='multipart/form-data'>{% csrf_token %}
                        
                  <div class="searchText">
                    <div class="row justify-content-center" style="text-align:center;">
                    <input type="char" name="boggle_11" class="searchText" placeholder="" autocomplete="off" style="width:50px;" maxlength="1">
                    <input type="char" name="boggle_12" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                    <input type="char" name="boggle_13" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                    <input type="char" name="boggle_14" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                    </div>
                    <div class="row justify-content-center" style="text-align:center;">
                    <input type="char" name="boggle_21" class="searchText" placeholder="" autocomplete="off" style="width:50px;" maxlength="1">
                    <input type="char" name="boggle_22" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                    <input type="char" name="boggle_23" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                    <input type="char" name="boggle_24" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                    </div>
                    <div class="row justify-content-center" style="text-align:center;">
                      <input type="char" name="boggle_31" class="searchText" placeholder="" autocomplete="off" style="width:50px;" maxlength="1">
                      <input type="char" name="boggle_32" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                      <input type="char" name="boggle_33" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                      <input type="char" name="boggle_34" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                      </div>
                      <div class="row justify-content-center" style="text-align:center;">
                        <input type="char" name="boggle_41" class="searchText" placeholder="" autocomplete="off" style="width:50px;" maxlength="1">
                        <input type="char" name="boggle_42" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                        <input type="char" name="boggle_43" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                        <input type="char" name="boggle_44" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;" maxlength="1">
                        </div>
                    <!--<ul>
                      <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yr)</em></span></label></li>
                    </ul>-->
                  </div>
                      <input type="submit" name="results" class="main-button" value="Search Now">
                      {{ form.errors }}
                   </form>
                 <div class="advSearch_chkbox">
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->

      <!-- Trusted Starts Here -->
      <div class="trusted-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-section-heading">
                <a href="#"><h4>BOGGLE</h4></a>
              </div>
            </div>
            <div class="col-md-12">
                Description of Boggle
            </div>
          </div>
        </div>
      </div>
      <!-- Trusted Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>Boggle</span>
                <h2>Results</h2>

                <div class = "grid">
                  <div class="left-half">
                    <div class = "game">
                      {% for letter in boggle_input %}
                      <div class="game-cell"><h4 id="letter{{forloop.counter}}">{{ letter }}</h4></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                  {% if boggle_solution %}
                  <br>
                  {% for key, value in boggle_solution.items %}
                  <p id="word{{ forloop.counter0 }}" onclick="highlight('{{ forloop.counter0 }}', '{{ forloop.counter0 }}', '{{ num_words }}', '{{ value }}')">{{ key }}</p>
                  {% endfor %}
                  {% else %}
                  {{ boggle_no_solutions }}
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
      



{% endblock %}