{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<body>
<!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>WordDoctor</h1>
              <p><a href="{% url 'index' %}">Home</a> / <span>WordDoctor</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Heading Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section services-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>An All-in-One Word Solver</span>
                <h2>About</h2>
                <p>Aenean molestie, odio quis viverra ultricies, leo tellus lacinia neque, sit amet maximus tortor nunc aliquet felis. Duis sit amet nibh non sapien tincidunt bibendum. Curabitur rutrum justo id leo ornare, suscipit lobortis augue volutpat.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'wordle' %}">
              <div class="service-item">
                <i class="fa fa-cloud"></i>
                <h4>Wordle</h4>
                <p>Fusce blandit commodo metus eu suscipit. Nullam ut blandit neque. Aenean nec tellus ac velit elementum tempor. Pellentesque nec urna ipsum.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'scrabble' %}">
              <div class="service-item">
                <i class="fa fa-server"></i>
                <h4>Scrabble</h4>
                <p>Sed ligula arcu, interdum eu magna eget, tristique aliquet nibh. Aenean sodales justo vitae ex pharetra, vitae tincidunt dolor condimentum.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'anagrams' %}">
              <div class="service-item">
                <i class="fa fa-database"></i>
                <h4>Anagrams</h4>
                <p>Fusce blandit commodo metus eu suscipit. Nullam ut blandit neque. Aenean nec tellus ac velit elementum tempor. Pellentesque nec urna ipsum.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'boggle' %}">
              <div class="service-item">
                <i class="fa fa-save"></i>
                <h4>Boggle</h4>
                <p>Sed ligula arcu, interdum eu magna eget, tristique aliquet nibh. Aenean sodales justo vitae ex pharetra, vitae tincidunt dolor condimentum.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'wordscape' %}">
              <div class="service-item">
                <i class="fa fa-check"></i>
                <h4>WordScapes</h4>
                <p>Fusce blandit commodo metus eu suscipit. Nullam ut blandit neque. Aenean nec tellus ac velit elementum tempor. Pellentesque nec urna ipsum.</p>
              </div></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
</body>




{% endblock %}