{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<body>
<!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>WordDoctor</h1>
              <p><a href="{% url 'index' %}">Home</a> / <span>WordDoctor</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Heading Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section services-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>An All-in-One Word Solver</span>
                <h2>About</h2>
                <p>Aenean molestie, odio quis viverra ultricies, leo tellus lacinia neque, sit amet maximus tortor nunc aliquet felis. Duis sit amet nibh non sapien tincidunt bibendum. Curabitur rutrum justo id leo ornare, suscipit lobortis augue volutpat.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'wordle' %}">
              <div class="service-item">
                <!-- <i class="fa fa-cloud"></i> -->
                <i class="fa-solid fa-w"></i>
                <h4>Wordle</h4>
                <p>Players have six attempts to guess a five-letter word; feedback is given in the form of colored tiles, indicating when letters match or occupy the correct position.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'scrabble' %}">
              <div class="service-item">
                <!-- <i class="fa fa-server"></i> -->
                <i class="fa-solid fa-chess-board"></i>
                <h4>Scrabble</h4>
                <p>Scrabble is a word game in which two to four players score points by placing tiles, each bearing a single letter, onto a game board divided into a 15x15 grid of squares.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'anagrams' %}">
              <div class="service-item">
                <!-- <i class="fa fa-database"></i> -->
                <i class="fa-solid fa-a"></i>
                <h4>Anagrams</h4>
                <p>Anagrams (also known as Anagram, Snatch, and Word Making and Taking) is a tile-based word game that involves rearranging letter tiles to form words.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'boggle' %}">
              <div class="service-item">
                <!-- <i class="fa fa-save"></i> -->
                <i class="fa-solid fa-cube"></i>
                <h4>Boggle</h4>
                <p>Boggle (also known as WordHunt) is a word game played using a plastic grid of lettered dice, in which players look for words in sequences of adjacent letters.</p>
              </div></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'wordscape' %}">
              <div class="service-item">
                <!-- <i class="fa fa-check"></i> -->
                <i class="fa-solid fa-circle-notch"></i>
                <h4>WordScapes</h4>
                <p>Wordscapes is a word puzzle video game where the player must find every word using the letters that are located in the circle at the bottom of the screen.</p>
              </div></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
</body>




{% endblock %}