{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<body>
<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="header-text caption">
                <h2>Scrabble</h2>
                <div id="search-section">
                    <form id="suggestion_form" name="gs" method="get" action="#">
                  <div class="searchText">
                    
                    <input type="text" name="q" class="searchText" placeholder="Enter your letters here..." autocomplete="off">
                    <!--<ul>
                      <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yr)</em></span></label></li>
                    </ul>-->
                  </div>
                      <input type="submit" name="results" class="main-button" value="Search Now">
                   </form>
                 <div class="advSearch_chkbox">
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->

      <!-- Trusted Starts Here -->
      <div class="trusted-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-section-heading">
                <a href="#"><h4>SCRABBLE</h4></a>
              </div>
            </div>
            <div class="col-md-12">
                Description of Scrabble
            </div>
          </div>
        </div>
      </div>
      <!-- Trusted Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>Scrabble</span>
                <h2>Results</h2>
                <p>LIST OF RESULTS FOR SCRABBLE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
      



{% endblock %}