{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<body>
<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="header-text caption">
                <h2>Scrabble</h2>
                <div id="search-section">
                  <!--<form id="suggestion_form" name="gs" method="get" action="#">-->
                    <form method="post" enctype='multipart/form-data'>{% csrf_token %}
                      
                <div class="searchText">
                  
                  <input type="text" name="scrabble_letters" id="scrabble_letters" class="searchText" placeholder="Enter your letters here..." autocomplete="off">
                  <input type="text" name="scrabble_open" id="scrabble_open" class="searchText" placeholder="Enter open characters on board you think have potential..." autocomplete="off">
                  <!--<ul>
                    <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yr)</em></span></label></li>
                    <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yr)</em></span></label></li>
                    <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yr)</em></span></label></li>
                    <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yr)</em></span></label></li>
                  </ul>-->
                </div>
                      {{ form.errors }}
                <div class="col-md-12">
                  <input type="submit" name="submit" class="main-button" value="Search Now">
                </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->

      <!-- Trusted Starts Here -->
      <div class="trusted-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-section-heading">
                <a href="#"><h4>SCRABBLE</h4></a>
              </div>
            </div>
            <div class="col-md-12">
                Description of Scrabble
            </div>
          </div>
        </div>
      </div>
      <!-- Trusted Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>Scrabble</span>
                <h2>Results
                  {% if scrabble_letters %}
                   for '{{ scrabble_letters }}'
                  {% endif %}</h2>
                  {% if scrabble_ordered_dict %}
                  {% for key, word in scrabble_ordered_dict.items %}
                  <p>Words with score {{ key }}: 
                    {% for item in word %}
                    {{ item }},
                  {% endfor %}</p>
                  {% endfor %}
                  {% else %}
                  {{ scrabble_no_solutions }}
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
      



{% endblock %}