{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<body>
<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="header-text caption">
                <h2>WordScapes</h2>
                <div id="search-section">
                  
                  <!--<form id="suggestion_form" name="gs" method="get" action="#">-->
                    <form method="post" enctype='multipart/form-data'>{% csrf_token %}
                      {{ form.non_field_errors }}
                  <div class="searchText">
                    
                    <input type="text" name="wordscape_letters" class="searchText" placeholder="Enter your letters here..." autocomplete="off">
                    <input type="text" name="wordscape_length" class="searchText" placeholder="(Optional) Word Length" autocomplete="off">
                    <!--<ul>
                      <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yr)</em></span></label></li>
                    </ul>-->
                  </div>
                      <input type="submit" name="submit" class="main-button" value="Search Now">
                   </form>
                 <div class="advSearch_chkbox">
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->

      <!-- Trusted Starts Here -->
      <div class="trusted-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-section-heading">
                <a href="#"><h4>WORDSCAPES</h4></a>
              </div>
            </div>
            <div class="col-md-12">
                Description of WordScapes
            </div>
          </div>
        </div>
      </div>
      <!-- Trusted Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>WordScapes</span>
                <h2>Results
                  {% if wordscape_letters %}
                   for '{{ wordscape_letters }}'
                  {% endif %}</h2>
                  {% if wordscape_results %}
                {% for key, word in wordscape_results.items %}
                <p>Words with length {{ key }}: 
                  {% for item in word %}
                    {{ item }},
                  {% endfor %}
                </p>{% endfor %}
                {% elif wordscape_results_len %}
                {% for word in wordscape_results_len %}
                  {{ word }}
                {% endfor %}
                
                {% else %}
                {{ wordscape_no_solutions }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
      



{% endblock %}