{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <style>
    </style>
</head>

<body>
<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="header-text caption">
                <h2>Wordle</h2>
                <div id="search-section">
                    <!--<form id="suggestion_form" name="gs" method="get" action="#">-->
                      <form method="post" enctype='multipart/form-data'>{% csrf_token %}
                        
                  <div class="searchText">
                    <div class="row justify-content-center" style="text-align:center;">
                      
                    <input type="char" name="wordle_loc1" class="searchText" placeholder="" autocomplete="off" style="width:50px;color:green;border: 2px solid green" maxlength="1">
                    <input type="char" name="wordle_loc2" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:green;border: 2px solid green" maxlength="1">
                    <input type="char" name="wordle_loc3" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:green;border: 2px solid green" maxlength="1">
                    <input type="char" name="wordle_loc4" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:green;border: 2px solid green" maxlength="1">
                    <input type="char" name="wordle_loc5" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:green;border: 2px solid green" maxlength="1">
                    </div>
                    <div class = "row justify-content-center">
                    <input type="text" name="wordle_loc6" class="searchText" placeholder="" autocomplete="off" style="width:50px;color:yellow;border: 2px solid yellow" maxlength="5">
                    <input type="text" name="wordle_loc7" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:yellow;border: 2px solid yellow" maxlength="5">
                    <input type="text" name="wordle_loc8" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:yellow;border: 2px solid yellow" maxlength="5">
                    <input type="text" name="wordle_loc9" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:yellow;border: 2px solid yellow" maxlength="5">
                    <input type="text" name="wordle_loc10" class="searchText" placeholder="" autocomplete="off" style="width:50px;margin-left:10px;color:yellow;border: 2px solid yellow" maxlength="5">
                    </div>
                    <div class = "row justify-content-center">
                    <input type="text" name="wordle_invalid_letters" class="searchText" placeholder="Enter incorrect letters here..." autocomplete="off">
                    </div>
                    <!--<ul>
                      <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yr)</em></span></label></li>
                      <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yr)</em></span></label></li>
                    </ul>-->
                  </div>
                      <input type="submit" name="results" class="main-button" value="Search Now">
                      {{ form.errors }}
                   </form>
                 <div class="advSearch_chkbox">
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->

      <!-- Trusted Starts Here -->
      <div class="trusted-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="trusted-section-heading">
                <a href="https://www.powerlanguage.co.uk/wordle/"><h4>WORDLE</h4></a>
              </div>
            </div>
            <div class="col-md-12">
                Wordle is a web-based word game developed by Welsh-born software engineer Josh Wardle. Players have six attempts to guess a five-letter word; feedback is given for each guess, in the form of colored tiles, indicating when letters match or occupy the correct position. The mechanics are nearly identical to the 1955 pen-and-paper game Jotto and the US television gameshow Lingo. Wordle has a single daily solution, with all players attempting to guess the same word.
            </div>
          </div>
        </div>
      </div>
      <!-- Trusted Ends Here -->
  
  
      <!-- Services Starts Here -->
      <div class="services-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <span>Wordle</span>
                <h2>Results</h2>
                {% if filtered_wordle_solutions %}
                {% for word in filtered_wordle_solutions %}
                <p>{{ word }}</p>
                {% endfor %}

                {% elif wordle_solutions %}
                {% for word in wordle_solutions %}
                <p>{{ word }}</p>
                {% endfor %}

                {% else %}
                {{ wordle_no_solutions }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Services Ends Here -->
      



{% endblock %}